.navbar {
  height: 65px;
  background-color: #313e60;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.navbarWrapper {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  font-size: 34px;
}
.navItem {
  display: flex;
  gap: 10px;
}

@media (max-width: 576px) {
  .navButton {
    font-size: 12px;
  }
}
